<div class="container">
  <div class="row" style="margin-top:20px">
    <ng-container *ngIf="invalidCredentials; else elseBlock">
      <div>
        <div class="alert alert-danger" *ngIf="!adminSaveDTO.role">
          Please select a role
        </div>
        <div class="alert alert-danger" *ngIf="adminSaveDTO.password===confirmPassword">
          Admin with same email already exist
        </div>
        <div class="alert alert-danger" *ngIf="adminSaveDTO.password!==confirmPassword">
          Password and confirm password must be the same
        </div>
      </div>
    </ng-container>
    <ng-template #elseBlock>
      <div>
        <div class="alert alert-info">
          Please fill admin data
        </div>
      </div>
    </ng-template>
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      <form ngNativeValidate role="form" (ngSubmit)="saveOrUpdateAdmin()">
        <fieldset>
          <div class="form-group">
            <input type="text" name="name" id="name" class="form-control input-group-sm" placeholder="Name" required [(ngModel)]="adminSaveDTO.name">
          </div>
          <hr class="colorgraph">
          <div class="form-group">
            <input type="email" name="email" id="email" class="form-control input-group-sm" placeholder="Email" required [(ngModel)]="adminSaveDTO.email">
          </div>
          <hr class="colorgraph">
          <div class="form-group">
            <input type="password" name="password" id="password" class="form-control input-group-sm" placeholder="Password" required [(ngModel)]="adminSaveDTO.password">
          </div>
          <hr class="colorgraph">
          <div class="form-group">
            <input type="password" name="confirmPassword" id="confirmPassword" class="form-control input-group-sm" placeholder="Confirm password" required [(ngModel)]="confirmPassword">
          </div>
          <hr class="colorgraph">
          <div class="form-group">
            <div class="mb-3">
              <select [disabled]="!isMaster()" [(ngModel)]="adminSaveDTO.role" [ngModelOptions]="{standalone: true}"
                      id="roleSelect" class="form-select" required>
                <option value="undefined" disabled selected>Select a role</option>
                <option *ngFor="let role of allAdminRoles()" [ngValue]="role">{{role}}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
              <button type="submit" class="btn btn-lg btn-success btn-block">Submit</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>

</div>
