<h3>Employees</h3>
<a class="btn btn-success" style="float: right; margin-right: 5px;margin-bottom: 5px" (click)="openFormDialog()">Add Employee</a>
<table class="table">
  <thead class="thead-dark" style="background-color: black;color: white">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Email</th>
    <th scope="col">Department</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let employeeDTO of employeesDTOs">
    <td>{{employeeDTO.id}}</td>
    <td>{{employeeDTO.fullName}}</td>
    <td>{{employeeDTO.email}}</td>
    <td>{{employeeDTO.departmentName}}</td>
    <td>
      <button class="btn btn-primary" (click)="openFormDialog(employeeDTO)">Update</button> |
      <button class="btn btn-danger" (click)="deleteEmployee(employeeDTO.id)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
