<div class="container">
  <div class="row" style="margin-top:20px">
    <ng-container *ngIf="invalidCredentials; else elseBlock">
      <div>
        <div class="alert alert-danger">
          This department already exist
        </div>
      </div>
    </ng-container>
    <ng-template #elseBlock>
      <div>
        <div class="alert alert-info">
          Please fill department data
        </div>
      </div>
    </ng-template>
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      <form ngNativeValidate role="form" (ngSubmit)="saveDepartment()">
        <fieldset>
          <div class="form-group">
            <input type="text" name="name" id="name" class="form-control input-group-sm" placeholder="Department Name"
                   required [(ngModel)]="departmentSaveDTO.name">
          </div>
          <hr class="colorgraph">
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
              <button type="submit" class="btn btn-lg btn-success btn-block">Save</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>

</div>
